<div class="container col col-md-8">
    <div class="display-6 my-3">Ask the community</div>
    <div class="card p-3 shadow-sm">
        <form>
            <div class="mb-3">
                <label class="form-label lead">Whats your question?</label>
                <textarea class="form-control"
                    placeholder="e.g 2 Part questions. Find: 1) The amount of fertiliser needed for a plot of land that has asn area of 14m^2, 2) The area of land that can be fertilised by 450g of fertiliser."
                    rows="3"></textarea>
            </div>
        </form>
    </div>
</div>